* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial' sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  background-color: beige;
  min-height: 100vh;
  min-width: 100vw;
}

#logo {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#logo {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(20px 5px 20px rgb(255, 255, 0));
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: rgb(242, 190, 153);
}

#nav-links ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 1.2em;
}

#nav-links ul li {
  transition: transform 0.1s linear;
}

#nav-links ul li a {
  text-decoration: none;
  color: #333;
}

#nav-links ul li:hover {
  transform: translateY(-3px) scale(1.1);
  font-weight: 600;
  text-decoration: dashed black;
}

#nav-links ul li:hover a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

#user {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid rgb(49, 49, 244);
  background-color: rgb(206, 206, 234);
  font-weight: 500;
  font-size: 1.05em;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#user:hover {
  transform: scale(1.1);
}





