* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial' sans-serif;
  line-height: 1.4;
  font-size: 1rem;
  background-color: beige;
}

#logo {
  font-size: 2rem;
  font-weight: 800;
  margin-left: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(20px 5px 20px rgb(255, 255, 0));
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: rgb(242, 190, 153);
}

#nav-links ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 1.2em;
}

#nav-links ul li {
  transition: transform 0.1s linear;
}

#nav-links ul li a {
  text-decoration: none;
  color: #333;
}

#nav-links ul li:hover {
  transform: translateY(-3px) scale(1.1);
  font-weight: 600;
}

#nav-links ul li:hover a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: black;
}

#user {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid rgb(49, 49, 244);
  background-color: rgb(206, 206, 234);
  font-weight: 500;
  font-size: 1.05em;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#user:hover {
  transform: scale(1.1);
}

#body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

#left-container {
  text-align: center;
  max-width: 600px;
}

#left-container h1 {
  font-size: clamp(2.5rem, 6vw, 5.5rem);
  color: rgb(57, 86, 167);
}


#left-container h2 {
  font-size: 2em;
  color: rgb(66, 63, 142);
  margin-bottom: 5px;
}

#left-container p {
  font-size: 1.1em;
}

#left-container button {
  height: 50px;
  width: 150px;
  margin: 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(152, 138, 132);
  font-weight: 600;
  color: rgb(234, 221, 221);
  font-size: 1.2em;
  transition: transform 0.2s ease-in;
}

#left-container button:hover {
  transform: scale(1.01);
  background-color: rgb(139, 122, 122);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(223, 208, 208);
  text-decoration-thickness: 2px;
}

#right-container {
  height: 500px;
  margin-top: 50px;
}

#right-container img {
  height: 500px;
}

#home-footer {
  margin-top: 40px;
  height: 120px;
  width: 100%;
  background-color: rgb(245, 215, 171);
}



/* @media (min-width: 767px) and (max-width: 1025px) {
  #user {
    margin-right: 40px;
  }

  #logo {
    margin-left: 40px;
  }

  #body-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #left-container {
    margin-top: 100px;
  }

}

@media (min-width: 1026px) and (max-width:1380px) {
  #logo {
    margin-left: 40px;
  }

  #user {
    margin-right: 40px;
  }

  #body-container {
    gap: 50px;
  }

  #left-container h1 {
    font-size: 3.5em;
  }

  #left-container h2 {
    font-size: 1.5em;
  }

  #left-container p {
    font-size: 1em;
  }

  #left-container button {
    height: 40px;
    width: 120px;
    font-size: 1.1em;
  }

  #left-container {
    margin-top: 100px;
  }


  #right-container {
    height: 400px;
    margin-top: 100px;
    margin-right: 20px;
  }

  #right-container img {
    height: 400px;
  }
}
 */
